<td class='url'>
  <a href='<%= url %>'><%= url %></a>
</td>
<td class='key'>
  <a href='/<%= key %>'>/<%= key %></a>
</td>
<td class='actions'>
  <% if(access) { %>
    <a href='#/links/<%= id %>/edit' class='edit'>Edit</a>
  <% } %>
</td>

